:root {
  --base-padding: 8px;
}

/* Base styles for accordion headers and content */
.accordion-header,
.inner-accordion-header {
  cursor: pointer;
  background-color: #f1f1f1;
  padding: var(--base-padding);
  margin-bottom: 0;
  border: 1px solid #313f57;
  position: relative;
}

.accordion-header.active,
.inner-accordion-header.active,
.first-header {
  background-color: #ccc;
}

.accordion-content,
.inner-accordion-content {
  display: none;
  padding: var(--base-padding);
  border-top: none;
}

/* Initial padding for accordion wrappers */
.accordion-wrapper {
  margin-bottom: 10px;
  padding: var(--base-padding);
}

/* Increase padding for nested accordion wrappers */
.accordion-wrapper .accordion-wrapper {
  padding-left: calc(var(--base-padding) * 2);
}

.accordion-wrapper .accordion-wrapper .accordion-wrapper {
  padding-left: calc(var(--base-padding) * 3);
}

.accordion-wrapper .accordion-wrapper .accordion-wrapper .accordion-wrapper {
  padding-left: calc(var(--base-padding) * 4);
}

.accordion-wrapper .view-content .accordion-item {
  border: 1px solid #313f57;
  margin-bottom: 10px;
}

/* Remove border for attached files inside accordion */
.accordion-wrapper .attached-files .views-field-uri {
  border: none;
  padding: var(--base-padding) 0;
}

/* Arrow indicators for accordion headers */
.accordion-header::after,
.inner-accordion-header::after {
  content: '\25BC';
    /* Downward arrow */
  float: right;
  margin-left: 10px;
}

.accordion-header.active::after,
.inner-accordion-header.active::after {
  content: '\25B2';
    /* Upward arrow */
}

