.accordion-header,
.inner-accordion-header {
  cursor: pointer;
  background-color: #f1f1f1;
  padding: 10px;
  margin-bottom: -1px;
  border: 1px solid #ccc;
  position: relative;
}

.accordion-header.active,
.inner-accordion-header.active,
.first-header {
  background-color: #ccc;
}

.accordion-content,
.inner-accordion-content {
  display: none;
  padding: 10px;
}

.inner-accordion-header {
  padding-left: 20px;
  background-color: #e8e8e8;
}

.inner-accordion-content {
  padding-left: 20px;
  background-color: #f9f9f9;
}

.accordion-header::after,
.inner-accordion-header::after {
  content: '\25BC';
  /* Downward arrow */
  float: right;
  margin-left: 10px;
}

.accordion-header.active::after,
.inner-accordion-header.active::after {
  content: '\25B2';
  /* Upward arrow */
}
